//Samia Tutillo
//Codigo de luces en Arduino

int contador=0;
int leds [14]={0,1,2,3,4,5,6,7,8,9,10,11,12,13};
void setup() {
  
  //pines digitales
    pinMode(0,OUTPUT); //pin 0 esta declarado como salida  
    pinMode(1,OUTPUT); //pin 1 esta declarado como salida  
    pinMode(2,OUTPUT);//pin 2 esta declarado como salida  
    pinMode(3,OUTPUT);//pin 3 esta declarado como salida  
    pinMode(4,OUTPUT);//pin 4 esta declarado como salida  
    pinMode(5,OUTPUT);//pin 5 esta declarado como salida  
    pinMode(6,OUTPUT);//pin 6 esta declarado como salida  
    pinMode(7,OUTPUT);//pin 7 esta declarado como salida  
    pinMode(8,OUTPUT); //pin 8 esta declarado como salida  
    pinMode(9,OUTPUT); //pin 9 esta declarado como salida  
    pinMode(10,OUTPUT); //pin 10 esta declarado como salida  
    pinMode(11,OUTPUT); //pin 11 esta declarado como salida  
    pinMode(12,OUTPUT); //pin 12 esta declarado como salida  
    pinMode(13,OUTPUT); //pin 13 esta declarado como salida  
}
void loop(){
   luces_1();//se llama a la clase 1
   luces_2();// se llama a la clase 2
   luces_3();//se llama a la clase 3
   luces_4(); //se llama a la clase 4
  }
void luces_1() {
  int r=13; // inicializo una variable r para q me sirva de referencia en la resta que se va a realizar
    for(;contador<13;contador++){ //se puede leer desde el pin 0 hasta el pin 14
    digitalWrite(leds[contador], HIGH); // se prende el pin actual
    digitalWrite(leds[r-contador], HIGH); // se prende el pin de la resta que se hace es decir el pin del otro lado
    delay(200); //retardo
}
    for(;contador>=0;contador--){ // se lee del pin 14 hasta el 0
    digitalWrite(leds[contador], LOW); // se apaga el pin actual
    digitalWrite(leds[r-contador], LOW); // se apaga el pin de la resta que se hace es decir el del otro lado
    delay(200);
    }
}
void luces_2(){
  int r=7; // inicializo una variable r para q me sirva de referencia en la suma que se va a realizar
for(contador=0;contador<8;contador++)// se puede leer desde el pin o hasta el pin 8
  {
    delay(300);// retardo
    digitalWrite(leds[contador],HIGH);//se prende el pin actual
    digitalWrite(leds[r+contador],HIGH); // se prende el pin de la suma es decir desde el pin 7 en adelante
  }
for(contador=7;contador>0;contador--) // se lee el pin desde la mitad
  {
    delay(300);// retardo
    digitalWrite(leds[contador],LOW);// se apaga el pin actual
    digitalWrite(leds[r+contador],LOW);// se apaga el pin de la suma es decir desde el pin 7 en adelante
  }
}
void luces_3(){
   int r=13; // inicializo una variable r para q me sirva de referencia en la resta que se va a realizar
for(contador=0;contador<8;contador++)// se puede leer desde el pin o hasta el pin 8
  {
    delay(300);// retardo
    digitalWrite(leds[contador],HIGH);//se prende el pin actual
    digitalWrite(leds[r-contador],HIGH); // se prende el pin de la resta que se hace es decir uno de cada lado
  }
for(contador=7;contador>0;contador--) // se lee el pin desde la mitad
  {
    delay(300);// retardo
    digitalWrite(leds[contador],LOW);// se apaga el pin actual
    digitalWrite(leds[r-contador],LOW);// se apaga el pin de la resta es decir el pin del otro lado
  }
}
void luces_4(){
  for (;contador<14;contador++){
  digitalWrite (leds[contador],HIGH);
  delay (300);
  digitalWrite (leds[contador],LOW);
  delay (150);
  }
}
